@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" asp-controller="Cart" method="post">
    <div class="background bg-white border">
        <div class="container row">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-header bg-danger text-light row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart">&nbsp;</i>Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-action="index" asp-controller="home" class="btn btn-secondary btn-sm">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-none d-lg-block">
                            <div class="row" style="color:blue;">
                                <div class="col-lg-2"></div>
                                <div class="col-12 col-lg-7">
                                    Product Details
                                </div>
                                <div class="col-12 col-lg-2">
                                 Price
                                </div>
                                <div class="col-6 col-sm-4 col-lg-1"></div>
                            </div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="row h-100">
                                <div class="col-4 col-md-2 text-center py-2">
                                    <img src="@WC.ImagePath@item.ProImage" style="width:inherit; height:inherit;" class="rounded" alt="Alternate Text" />
                                </div>
                                <div class="col-8 col-lg-7">
                                    <h5>@Html.DisplayFor(q=>item.ProName)</h5>
                                    <div style="font-size:17px;"> @Html.Raw(item.ProDescription)</div>
                                </div>
                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                    <span style="font-size:17px">@Html.DisplayFor(q=>item.ProPrice)</span>/ @Html.DisplayFor(q=>item.Currencies)
                                </div>
                                <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                    <a class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        }

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6 col-md-3 offset-md-9">
                                    <input type="submit" name="submit" value="Continue" class="btn btn-success form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>