@model ProductViewModel
@{
    ViewData["Title"] = "Create";
    var Create = "Add Product";
    string s = Model.Product.ProImage is not null ? (WC.ImagePath + Model.Product.ProImage) : $"{WC.ImagePath}Product.svg";
    var Edit = "Edit Product";

}


<form asp-action="UpdCreate" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @if (Model.Product.ProId != 0)
    {
        <input asp-for="Product.ProId" hidden />
        ViewData["Title"] = "Edit";
        <div class="form-group row">
            <h2 class="text-info pl-3">@Edit</h2>
        </div>

    }
    else
    {
        <div class="form-group row">
            <h2 class="text-info pl-3">@Create</h2>
        </div>
    }

    <div class="border p-3">
        <div class="row">
            <div class="col-12">

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Product.ProName"></label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Product.ProName" class="form-control" />
                    </div>
                    <div class="col-3"><span asp-validation-for="Product.ProName" class="text-danger"></span></div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Product.ProPrice"></label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Product.ProPrice" class="form-control" />
                    </div>
                    <div class="col-3"><span asp-validation-for="Product.ProPrice" class="text-danger"></span></div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Product.ProDescription"></label>
                    </div>
                    <div class="col-7">
                        @*<inkput asp-for="Product.ProDescription" class="form-control" />*@
                        @*summer note id*@
                        <textarea asp-for="Product.ProDescription" id="summernote" class="form-control note-icon-summernote"> </textarea>
                    </div>
                    <div class="col-3"><span asp-validation-for="Product.ProDescription" class="text-danger"></span></div>
                </div>

                <div class="form-group row justify-content-center"><img src=@s style="width:22rem; height:22rem; border-radius:5%;" alt="Product Image" /></div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Product.ProImage"></label>
                    </div>
                    <div class="col-7">
                        <input type="file" accept="image/*" asp-for="Product.ProImage" id="uploadbox" alt="Product Image" class="form-control" />
                    </div>
                    @if (ViewBag.ImageError is not null)
                    {
                        <div class="col-3"><span class="text-danger">@ViewBag.ImageError</span></div>
                    }
                </div>

                @*SelectListItem + ViewBag*@

                @*
                    <div class="form-group row">
                        <div class="col-3">
                            <label> Choose Category</label>
                        </div>
                        <div class="col-5">
                            <select asp-for="Product.Category.CatId" asp-items="@ViewBag.CategoryDropDown" class="form-control">
                                <option disabled selected>Select Category</option>
                            </select>
                        </div>
                        <div class="col-4"><span asp-validation-for="Product.Category.CatId" class="text-danger"></span></div>
                    </div>
                *@

                <div class="form-group row">
                    <div class="col-2">
                        <label> Choose Category</label>
                    </div>
                    <div class="col-7">
                        <select asp-for="Product.CatId" asp-items="@Model.CategorySelectList" class="form-control">
                            <option disabled selected>Select Category</option>
                        </select>
                    </div>
                    <div class="col-3"><span asp-validation-for="Product.CatId" class="text-danger"></span></div>
                </div>


                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Product.ProId != 0)
                            {
                                <input type="submit" value="Update" class="btn btn-primary" />
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" value="Add" class="btn btn-success" />
                            }
                        </div>
                        <div class="col">
                            <a asp-controller="Product" asp-action="index" class="btn btn-dark"><i class="fa fa-backward">&nbsp;</i> Back To Products</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(
            function () {
                $('#summernote').summernote({
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        //['font', ['strikethrough', 'superscript', 'subscript']],
                        //['fontsize', ['fontsize']],
                        ['color', ['color']],
                        //['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']]
                    ],
                    height: 250,
                    spellCheck: true,
                    disableGrammar: false
                });
            }
        )

        function validateInput() {
            if (document.getElementById("uploadbox").value == "") {
                swal.fire(
                    'error!', 'please upload an image', 'error'
                )
                return false;
            }
            return true;
        }

        //live image preview
        const inputfile = document.getElementById("uploadbox");
        inputfile.addEventListener("change", (e) => {
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                const image = document.getElementsByTagName("img")[0];
                image.src = reader.result;
            })
            reader.readAsDataURL(e.target.files[0])
        })
    </script>
}